<div class="row" ng-show="!loadingUserSearch ">
    <div class="col-lg-8 col-lg-offset-2 col-md-offset-2 col-md-8">
            <div class="section-heading text-center jumbotron " style="height:100%; font-family:Georgia;">
              <h1>Oops! <i class="fa fa-meh-o" aria-hidden="true"></i></h1>
              <h4>

                Server erreur <i class="fa fa-bug" aria-hidden="true"></i>
                Please <strong>Refresh</strong> the page <i class="fa fa-refresh" aria-hidden="true"></i>
              </h4>
            </div>
        </div>
    </div>
