<div id="home">
  <div class="container">
  	<div class="home-section" ng-show="loadingError">
  			<div error-message></div>
  	</div>
    <div class="row">
      <div class="caption text-center col-md-8 col-xs-12 col-sm-12 col-md-offset-2">
        <h1 class="h-bold">search Instagram hashtag and username</h1>
        <div ng-controller="SearchCtrl">
                  <form  role="search" ng-submit="submit()">
                    <div class="form-groupe">
                      <input type="text" class="form-control home-search" ng-model="searchVal" placeholder="Click or press to search">
                    </div>
                  </form>
        </div>
      </div>
    </div>
  </div>
  <div class="cover"></div>
  
  <div class="container">
    <section class="color-dark bg-white" ng-show="!loadingError">
      <div class="home-section"></div>

    <div class="text-center">
        <div  ng-init="getTag1Medias() ">

              <div ng-repeat="media in medias1">
                <div class="col-xs-12 col-sm-6 col-md-3 marginTop10">
                  <a href="#/post/{{media.code}}">
                    <div class="team-wrapper-big wow bounceInUp " data-wow-delay="0.2s">
                            <div class="team-wrapper-overlay">
                              <!--<h5>Adrian Dawn</h5> !-->
                              <p>{{media.caption}}</p>
                              <div class="social-icons">
                                <ul class="team-social">
                                  <li>{{media.likesCount}}<i class="fa fa-heart" aria-hidden="true"></i></li>
                                  <li>{{media.commentsCount}}<i class="fa fa-comment" aria-hidden="true"></i></li>
                                </ul>
                              </div>
                            </div>
                            <div ng-if="media.type == 'video'">
                              <img src="{{media.imageStandardResolutionUrl}}" alt="{{media.caption}}"  />
                              <img src="assets/img/play-btn.png" class="imagePlay" alt="">

                            </div>
                            <div ng-if="media.type == 'image'">
                              <img src="{{media.imageStandardResolutionUrl}}" alt="{{media.caption}}" />
                            </div>
                    </div>
                  </a>
                </div>
              </div>

        </div>
  			<div  ng-init="getTag2Medias() ">

              <div ng-repeat="media in medias2">
                <div class="col-xs-12 col-sm-6 col-md-3 marginTop10">
                  <a href="#/post/{{media.code}}">
                    <div class="team-wrapper-big wow bounceInUp " data-wow-delay="0.2s">
                            <div class="team-wrapper-overlay">
                              <!--<h5>Adrian Dawn</h5> !-->
                              <p>{{media.caption}}</p>
                              <div class="social-icons">
                                <ul class="team-social">
                                  <li>{{media.likesCount}}<i class="fa fa-heart" aria-hidden="true"></i></li>
                                  <li>{{media.commentsCount}}<i class="fa fa-comment" aria-hidden="true"></i></li>
                                </ul>
                              </div>
                            </div>
                            <div ng-if="media.type == 'video'">
                              <img src="{{media.imageStandardResolutionUrl}}" alt="{{media.caption}}"  />
                              <img src="assets/img/play-btn.png" class="imagePlay" alt="">

                            </div>
                            <div ng-if="media.type == 'image'">
                              <img src="{{media.imageStandardResolutionUrl}}" alt="{{media.caption}}" />
                            </div>
                    </div>
                  </a>
                </div>

              </div>


        </div>
  			<div  ng-init="getTag3Medias() ">

              <div ng-repeat="media in medias3">
                <div class="col-xs-12 col-sm-6 col-md-3 marginTop10">
                  <a href="#/post/{{media.code}}">
                    <div class="team-wrapper-big wow bounceInUp " data-wow-delay="0.2s">
                            <div class="team-wrapper-overlay">
                              <!--<h5>Adrian Dawn</h5> !-->
                              <p>{{media.caption}}</p>
                              <div class="social-icons">
                                <ul class="team-social">
                                  <li>{{media.likesCount}}<i class="fa fa-heart" aria-hidden="true"></i></li>
                                  <li>{{media.commentsCount}}<i class="fa fa-comment" aria-hidden="true"></i></li>
                                </ul>
                              </div>
                            </div>
                            <div ng-if="media.type == 'video'">
                              <img src="{{media.imageStandardResolutionUrl}}" alt="{{media.caption}}"  />
                              <img src="assets/img/play-btn.png" class="imagePlay" alt="">

                            </div>
                            <div ng-if="media.type == 'image'">
                              <img src="{{media.imageStandardResolutionUrl}}" alt="{{media.caption}}" />
                            </div>
                    </div>
                  </a>
                </div>
              </div>

        </div>
  			<div  ng-init="getTag4Medias() ">

              <div ng-repeat="media in medias4">
                <div class="col-xs-12 col-sm-6 col-md-3 marginTop10">
                  <a href="#/post/{{media.code}}">
                    <div class="team-wrapper-big wow bounceInUp " data-wow-delay="0.2s">
                            <div class="team-wrapper-overlay">
                              <!--<h5>Adrian Dawn</h5> !-->
                              <p>{{media.caption}}</p>
                              <div class="social-icons">
                                <ul class="team-social">
                                  <li>{{media.likesCount}}<i class="fa fa-heart" aria-hidden="true"></i></li>
                                  <li>{{media.commentsCount}}<i class="fa fa-comment" aria-hidden="true"></i></li>
                                </ul>
                              </div>
                            </div>
                            <div ng-if="media.type == 'video'">
                              <img src="{{media.imageStandardResolutionUrl}}" alt="{{media.caption}}"  />
                              <img src="assets/img/play-btn.png" class="imagePlay" alt="">

                            </div>
                            <div ng-if="media.type == 'image'">
                              <img src="{{media.imageStandardResolutionUrl}}" alt="{{media.caption}}" />
                            </div>
                    </div>
                  </a>
                </div>
              </div>

        </div>
  			<center>
  				<div  ng-show="loadingHomeSearch">
  					<img src="assets/img/spinner.gif" class="spinnerIcon">
  				</div>
  			</center>
  			<div  ng-init="getTag5Medias() ">

              <div ng-repeat="media in medias5">
                <div class="col-xs-12 col-sm-6 col-md-3 marginTop10">
                  <a href="#/post/{{media.code}}">
                    <div class="team-wrapper-big wow bounceInUp " data-wow-delay="0.2s">
                            <div class="team-wrapper-overlay">
                              <!--<h5>Adrian Dawn</h5> !-->
                              <p>{{media.caption}}</p>
                              <div class="social-icons">
                                <ul class="team-social">
                                  <li>{{media.likesCount}}<i class="fa fa-heart" aria-hidden="true"></i></li>
                                  <li>{{media.commentsCount}}<i class="fa fa-comment" aria-hidden="true"></i></li>
                                </ul>
                              </div>
                            </div>
                            <div ng-if="media.type == 'video'">
                              <img src="{{media.imageStandardResolutionUrl}}" alt="{{media.caption}}"  />
                              <img src="assets/img/play-btn.png" class="imagePlay" alt="">

                            </div>
                            <div ng-if="media.type == 'image'">
                              <img src="{{media.imageStandardResolutionUrl}}" alt="{{media.caption}}" />
                            </div>
                    </div>
                  </a>
                </div>
              </div>

        </div>
    </div>
    </section>
  </div>

</div>
